@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-3">
        <div class="card text-bg-primary mb-3" style="max-width: 17rem;">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5>Categorías</h5>
                    <i class="fa fa-2x fa-boxes"></i>
                </div>
            </div>
            <div class="card-body">
                <h6 class="card-title">Cantidad:6</h6>
                <p class="card-text">Some quick example</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-bg-secondary mb-3" style="max-width: 17rem;">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5>Productos</h5>
                    <i class="fa fa-2x fa-box"></i>
                </div>
            </div>
            <div class="card-body">
                <h6 class="card-title">Cantidad:6</h6>
                <p class="card-text">Some quick example</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-bg-success mb-3" style="max-width: 17rem;">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5>Clientes</h5>
                    <i class="fa fa-2x fa-user"></i>
                </div>
            </div>
            <div class="card-body">
                <h6 class="card-title">Cantidad:6</h6>
                <p class="card-text">Some quick example</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-bg-danger mb-3" style="max-width: 17rem;">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5>Ventas</h5>
                    <i class="fa fa-2x fa-shopping-bag"></i>
                </div>
            </div>
            <div class="card-body">
                <h6 class="card-title">Cantidad:6</h6>
                <p class="card-text">Some quick example</p>
            </div>
        </div>
    </div>
    
</div>
